<h1>typeidea blog - by the5fire</h1>
<ul>
    {% for cate in nav_cates %}
    <li><a href="{% url 'category' cate.id %}">{{ cate.name }}</a></li>
    {% endfor %}
</ul>

<div id="content">
{% block content %}
{% endblock %}
</div>

<hr/>

<ul>
    {% for cate in cates %}
    <li><a href="{% url 'category' cate.id %}">{{ cate.name }}</a></li>
    {% endfor %}
</ul>

<hr/>

<ul>
    {% for side in side_bars %}
        <h4>{{ side.title }}</h4>
        <div>
            {% if side.display_type == 1 %}
                {% autoescape off %}
                {{ side.content }}
                {% endautoescape %}
            {% elif side.display_type == 2 %}
            <ul>
            {% for post in recently_posts %}
                <li>{{ post.title }}</li>
            {% endfor %}
            </ul>
            {% elif side.display_type == 4 %}
                {% for comment in recently_comments %}
                    <li>{{ comment.content }}</li>
                {% endfor %}
            {% endif %}
        </div>
    {% endfor %}
</ul>
