{% extends "./base.html" %}

{% block content %}
<ul>
    <hr/>

    {% if posts %}
        {% for post in posts %}
        <li>
            title: <a href="{% url 'detail' post.id %}">{{ post.title }} </a><br/>
            desc: {{ post.desc }}
        </li>
        {% endfor %}
        {% if page_obj.has_previous %}<a href="?page={{ page_obj.previous_page_number }}">上一页</a>{% endif %}
        Page {{ page_obj.number }} of {{ paginator.num_pages }}.
        {% if page_obj.has_next %}<a href="?page={{ page_obj.next_page_number }}">下一页</a>{% endif %}
    {% else %}
        Empty!!
    {% endif %}
</ul>
{% endblock %}
