<!DOCTYPE html>
<html>
  <head>
    <title>Django实战开发-bootstrap demo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" media="screen">
  </head>
  <body>
      <div class="container" style="border: 1px solid red;">
          <h1>Hello, world!</h1>
      </div>
      <div class="container" style="border: 1px solid red;">
        <div class="row">
            <div class="col-9" style="border: 1px solid blue;">
                <div style="height: 500px;">内容区</div>
            </div>
            <div class="col-3" style="border: 1px solid blue;">
                <div style="height: 500px;">边栏区</div>
            </div>
        </div>
      </div>
      <footer class="container"  style="border: 1px solid red;">
          底部footer区域
      </footer>
  </body>
</html>


